*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Recursive', sans-serif;
}

body {
    background: linear-gradient(45deg, #57ebff, #c1bcdb);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container  {
    background: white;
    max-width: 620px;
    min-width: 250px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

form  {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field i {
    cursor: pointer;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .line::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .line::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #57ebff, #c1bcdb);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.input-field input:focus ~ .line::after{
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #57ebff, #7c64f5);
    cursor: pointer;
    color: black;
    font-size: 1rem;
    font-weight:400;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #57ebff, #7c64f5);
}

form .pass {
    text-align: right;
}

form .pass a  {
    text-decoration: none;
}

form .pass a p {
    margin-right: 0.3rem;
    border: 0;
    color: black;
    padding: 0.1rem;
    font-size: 0.68rem;
}

.footer  {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 0.8rem;
    text-align: center;
}

.footer span::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: block;
    width:42%;
    height: 0.1px;
    background-color: black;
}

.footer span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 1;
    display: block;
    width:42%;
    height: 0.1px;
    background-color: black;
}

.footer .socials {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .socials a i {
    margin: 0.5rem;
    width: 15px;
}

.footer .socials a {
    text-decoration: none;
    color: white;
}

/*.footer  .twitter {
    background: linear-gradient(to right, #56a7f2,  #468aca);
}*/

.footer  .facebook {
    background: linear-gradient(to right, #1e3c72,  #2a5298);
}

.footer  .gmail {
    background: linear-gradient(to right, #ce1212,  #cc4d4d);
}

.register {
    text-align: center;
    padding: 0.1rem;
    font-size: 0.8rem;
}

.register a {
    text-decoration: none;
    color: black;
}